<%= form_for(@friendRequest) do |f| %>
  <% if @friendRequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendRequest.errors.count, "error") %> prohibited this friendRequest from being saved:</h2>

      <ul>
      <% @friendRequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to, :value => @user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
