<!-- THIS WILL BE THE PROFILE PAGE -->
<p id="notice"><%= notice %></p>

<!-- Profile Info -->
<header>

  <div id="coverphoto">
    <img src="http://placehold.it/900x315"/>
  </div>
  <div id="profilephoto">
    <% if @user.photo_url.nil? %>
      <img src="http://placehold.it/160x160"/>
    <% else %>
      <%= image_tag @user.photo_url %>
    <% end %>
  </div>
  
  <h1 id="profileName">
    <%=@user.first_name%> <%=@user.last_name%> 
  </h1>

  <div id="btnGroup">
    <% if @user == current_user %>
      <%= link_to 'Update Info', edit_user_path(@user) %>
    <% end %>

    <% if (@user != current_user) and (!current_user.friends.include?(@user)) %>
      <%= render 'friend_request' %>
    <% end %>

    <!-- Why is there a back button again? 
    <%= link_to 'Back', users_path %>
    -->
  </div>

  <!-- Columns -->
  <ul class="col">
    <li> <label>Username</label>
      <%= @user.username %></li>
    <li> <label>Email</label> 
      <a href="mailto:<%= @user.email %>"><%= @user.email %></a> </li>
    <li> <label>Birthday </label>
      <%= @user.date_of_birth %></li>
  </ul>
  <ul class="col">
    <li> <label>Gender</label>
      <%= @user.gender %></li>
    <li> <label>Politics</label>
      <%= @user.political_affiliation %> </li>
    <li> <label>Religion </label>
      <%= @user.religion %></li>
  </ul>
  <ul class="col" id="interests">
    <li> <strong> Interests</li> <br/><%= @user.interests %> </li>
  </ul>

</header>

<div id="newsfeed-container">

<table>

<% @posts.each do |post| %>
  <tr id="post-row">
    <td id="post-photo">
      <a href="#">
        <div id="new-post-photo">
          <% if post.user.photo_url.nil? %>
            <img src="http://placehold.it/56x56"/>
          <% else %>
            <%= image_tag post.user.photo_url %>
          <% end %>
        </div>
      </a>
    </td>
    <td id="post-text-container">
      <table id="post-text">
        <tr>
          <th id="name"><%=post.user.name %></th>
          <td id="delete"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr><td><%= post.content %></td></tr>
        <tr><td id="timestamp"><%= post.timestamp %></td></tr>
      </table>

    </td>
  </tr>
<% end %>
</table>

<br />
</div>