<!-- THIS WILL BE THE PROFILE PAGE -->

<p id="notice"><%= notice %></p>

<h1>
  <b><%=@user.first_name%> <%=@user.last_name%></b>
</h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Interests:</b>
  <%= @user.interests %>
</p>

<p>
  <b>Political affiliation:</b>
  <%= @user.political_affiliation %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<% if @user != current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= render 'friend_request' %>
<% end %>

<%= link_to 'Back', users_path %>
