<h1>Listing polical_views</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polical_views.each do |polical_view| %>
  <tr>
    <td><%= polical_view.name %></td>
    <td><%= link_to 'Show', polical_view %></td>
    <td><%= link_to 'Edit', edit_polical_view_path(polical_view) %></td>
    <td><%= link_to 'Destroy', polical_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polical view', new_polical_view_path %>
