<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @polical_view.name %>
</p>

<p>
  <b>Id:</b>
  <%= @polical_view.id %>
</p>


<%= link_to 'Edit', edit_polical_view_path(@polical_view) %> |
<%= link_to 'Back', polical_views_path %>
