<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @political_view.id %>
</p>

<p>
  <b>Name:</b>
  <%= @political_view.name %>
</p>


<%= link_to 'Edit', edit_political_view_path(@political_view) %> |
<%= link_to 'Back', political_views_path %>
