<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.select :user_id, User.all.collect {|u| [ u.name, u.id ] }, :prompt => "Select user"  %><br /><br />
  </div>
  <div class="field">
    <%= f.label :friend %>
    <%= f.select :friend_id, User.all.collect {|u| [ u.name, u.id ] }, :prompt => "Select user"  %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
