<h1>Colleges</h1>

<table>
  <tr>
    <th>College</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @colleges.each do |college| %>
  <tr>
    <td><%= link_to college.name, college %></td>
    <td><%= college.location %></td>
    <td><%= link_to 'Edit', edit_college_path(college) %></td>
    <td><%= link_to 'Delete', college, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New College', new_college_path %>
