<%= form_for(@newPost) do |f| %>
  <% if @newPost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newPost.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @newPost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="new-post">
  <a href="#">
    <div id="new-post-photo">
      <% if current_user.photo_url.nil? %>
        <img src="http://placehold.it/56x56"/>
      <% else %>
        <%= image_tag current_user.photo_url %>
      <% end %>
    </div>
  </a>
  <div id="new-post-text">
    <div class="field">
      <%= f.text_area :content, :placeholder => "What's on your mind?" %>
    </div>
    <div id="new-post-submit">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
