<!-- THIS WILL BE THE MAIN NEWSFEED -->
<div id="new-post-container">


<%= render 'form' %>
</div>

<div id="newsfeed-container">

<table>

<% @posts.each do |post| %>
  <tr id="post-row">
    <td id="post-photo">
      <a href="#">
        <div id="new-post-photo">
          <% if post.user.photo_url.nil? %>
            <img src="http://placehold.it/56x56"/>
          <% else %>
            <%= image_tag post.user.photo_url %>
          <% end %>
        </div>
      </a>
    </td>
    <td id="post-text-container">
      <table id="post-text">
        <tr>
          <th id="name"><%=post.user.name %></th>
          <td id="delete"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr><td id="posttext"><%= post.content %></td></tr>
        <tr><td id="timestamp"><%= post.timestamp %></td></tr>
      </table>

    </td>
  </tr>
<% end %>
</table>

<br />
</div>