<ul id="nav">
	<li>
		<%= link_to 'Users', users_path %>
	</li>
	<li>
		<%= link_to 'Profiles', profiles_path %>
	</li>
	<li>
		<%= link_to 'Colleges', colleges_path %>
	</li>
	<li>
		<%= link_to 'Political Views', political_views_path %>
	</li>
	<li>
		<%= link_to 'Interests', interests_path %>
	</li>
</ul>

<div class="clear"></div>