<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="menu">
<ul id="nav">
  <a href="/"><div id="logo"></div></a>

  <% if current_user %>
  <li>
    <%= link_to "Logout", :logout%>
  </li>
  <li>
    <%= link_to "My Profile", user_path(current_user.id) %>
  </li>
  <li>
    <%= link_to "Friend Requests", friend_requests_path %>
  </li>
  <li>
    <%= link_to "People", users_path %>
  </li>
  <% else %>
  <li>
    <%= link_to "Login", :login %>
  </li>
  <li>
    <%= link_to "Register", new_user_path%>
  </li>
  <% end %>
</ul>
</div>
<div id="content">

	<%= yield %>
</div>

</body>
</html>
